.side-bar {
  background:#191919 !important;
}

.nav-list-item a {
  color:#fff !important;
}

.nav-list-item.active a {
  color:#888 !important;
  background-image:none !important;
}

.site-header a {
  color:#fff !important;
}

.side-bar a:hover {
  background-image:none !important;
  text-decoration: underline !important;
}

h1 {
  font-weight: 400 !important;
}

h2 {
  font-weight: 400 !important;
  font-size: 28px !important;
}

h3 {
  font-weight:400 !important;
  font-size:22px !important;
}

h4 {
  font-weight:400 !important;
  font-size:18px !important;
  text-transform: none !important;
}