.side-bar {
  background:#191919 !important;
}

.nav-list-item a {
  color:#fff !important;
}

.nav-list-item.active a {
  color:#888 !important;
  background-image:none !important;
}

.site-header a {
  color:#fff !important;
}

.side-bar a:hover {
  background-image:none !important;
  text-decoration: underline !important;
}

h1 {
  font-weight: 400 !important;
}

h2 {
  font-weight: 400 !important;
  font-size: 28px !important;
}

h3 {
  font-weight:400 !important;
  font-size:22px !important;
}

h4 {
  font-weight:400 !important;
  font-size:18px !important;
  text-transform: none !important;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

blockquote {
  background: #eee;
  border-left: 4px solid #bbb;
  padding: 5px 10px;
  margin-left: 0;
}

blockquote p {
  margin: 5px 0;
}

.main-content a {
  white-space:normal;
  overflow-wrap: break-word; 
}

@media (min-width:50rem) {
  .site-nav {
    padding-top:1rem;
  }
  .site-header a {
    font-size:20px !important;
  }
}


@media (min-width: 66.5rem) {
  .site-header a {
    font-size:24px !important;
  }
}