---
---
@import "{{ site.theme }}";
.side-bar {
  background:#191919;
}

.nav-list-item a {
  color:#fff;
}

.nav-list-item.active a {
  color:#888;
  background-image:none;
}

.site-header a {
  color:#fff;
}

.side-bar a:hover {
  background-image:none;
  text-decoration: underline;
}

h1 {
  font-weight: 400;;
}

h2 {
  font-weight: 400;
  font-size: 28px !important;
}

h3 {
  font-weight:400;
  font-size:22px;
}

h4 {
  font-weight:400;
  font-size:18px;
  text-transform: none;;
}