/* Tables */
table.table-sort th {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  white-space: nowrap;
}

/* Hovering on a <td> with rowspan should highlight the entire tbody */
table tbody:has(td[rowspan]:hover) td {
    background-color: color-mix(in srgb, var(--table-header-bg), #0000 60%);
}
/* Hovering on a <td> without rowspan, means its a sub-row.
   Thus, just that row should be highlighted.*/
table tr:has(td:not([rowspan]):hover) {
    background-color: color-mix(in srgb, var(--table-header-bg), #0000 60%);
}
/* Finally, the rowspan columns should be highlighted if the 
   non-rowspan colums are hovered*/
table tbody:has(td:not([rowspan]):hover) td[rowspan] {
    background-color: color-mix(in srgb, var(--table-header-bg), #0000 60%);
}

/* Tooltip text */
.tooltip-text-container {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted #98a3ad;
  cursor: help;
}

/* Tooltip text */
.tooltip-text-container .tooltip-text {
  visibility: hidden;
  min-width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 0;
  margin-left: -60px;
  z-index: 999;
}

.tooltip-text-container:hover .tooltip-text {
  visibility: visible;
}

.table-wrapper {
  overflow-y: clip;
}

@media (max-width: 1920px) {

  table>thead>tr>th,
  table>tbody>tr>td {
    padding: 3px 10px;
  }
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  table>thead>tr>th,
  table>tbody>tr>td {
    padding: 3px 5px;
  }
}