form {
    display: inline;
    padding: 2rem;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

label,
fieldset {
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 0.4rem;
    transform: scale(1.2);
}

legend {
    font-weight: bold;
    padding: 0 0.5rem;
}

form label>input[type="checkbox"],
form label>input[type="radio"] {
    margin-right: 0.5rem;
}

fieldset {
    display: grid;
    grid-auto-flow: row;
    grid-column-gap: 10px;
    grid-row-gap: 14px;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 8px;
}

fieldset>label>span {
    display: block;
    padding-left: 26px;
}