:root {
  --content-max-width-media: 1050px;
}

img.small-size-image {
  max-width: 400px;
  width: 100%;
}

img.big-size-image {
  max-width: 800px;
  width: 100%;
}

.section li.chapter-item:before {
  content: "-";
  font-size: 1em;
  margin-right: 10px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
  * Body proportion classes for the table
  */

.bpTable {
  border-width: 0px;
}

.bpTable td {
  vertical-align: top;
  border-width: 0px;
}

#bpImage {
  height: 400px;
  max-width: none;
}

.bp {
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

.bp::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  top: 12px;
  margin-left: 10px;
  border-top: 5px solid #000;
  border-bottom: none;
}

.bp.open::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  top: 12px;
  margin-left: 10px;
  border-bottom: 5px solid #000;
  border-top: none;
}

.bpdata {
  padding-left: 10px;
  max-height: 0px;
  overflow: hidden;
}

.bpdata.open {
  max-height: 60px;
}

.bpTable td:nth-child(2) {
  width: 100%;
}

.bpTable summary {
  font-weight: bold;
  cursor: pointer;
}

.sidebar {
  font-size: 0.85em;
}

table {
  margin: 0;
}

.spacer {
  height: 0;
  margin-bottom: 10px;
}

.chapter {
  padding: 0 10px;
}

table {
  margin: 0 auto;
}

#imu-comparison ~ .table-wrapper > table {
  margin: 0;
}

img, img ~ em {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.caseImage, .caseImage ~ em {
  text-align: left;
  margin: 0;
  display: initial;
}

.diodeDirectionCont {
  font-weight: bold;
  padding-top: 14px;
}

.diodeDirectionCont:after {
  content: '';
  display: block;
  clear: both;
}

.embeddedVideo {
  font-style: italic;
  text-align: center;
}

@media screen and (min-width: 1900px) {
  .content main {
    max-width: var(--content-max-width-media);
    font-size: 1.8rem;
  }
}


/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  table.transform-table-to-list-on-mobile:not(.table-sort):not(.table-arrows) > thead > tr {
    display: none;
  }

  table.transform-table-to-list-on-mobile {
    display: block;
  }

  table.transform-table-to-list-on-mobile a {
    padding-left: 0.5em;
  }

  table.transform-table-to-list-on-mobile thead {
    background: none;
  }

  table.transform-table-to-list-on-mobile thead tr {
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.5em;
    padding-bottom: 1rem;
    border: none;
  }

  table.transform-table-to-list-on-mobile thead th:before {
    content: 'Sort By: ';
    font-weight: bold;
    display: contents;
  }

  table.transform-table-to-list-on-mobile thead th.disable-sort {
    display: none;
  }

  table.transform-table-to-list-on-mobile thead th,
  table.transform-table-to-list-on-mobile tbody tr {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid var(--fg);
    border-radius: 8px;
    flex: 1;
  }

  table.transform-table-to-list-on-mobile tbody th {
    padding: 10px;
    flex: 1 1 auto;
    min-width: 80px;
    margin-bottom: 1rem;
  }

  table.transform-table-to-list-on-mobile tbody tr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px 0;
  }

  table.transform-table-to-list-on-mobile tbody td {
    border: none;
  }

  table.transform-table-to-list-on-mobile tbody td:first-child {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1rem;
  }

  table.transform-table-to-list-on-mobile tbody td:not(.case-image):not(.case-name)::before {
    display: inline-block;
    content: attr(data-label);
    font-weight: bold;
    margin-right: 0.5em;
  }

  /* Add spacing between ::before and .tooltip-text-container */
  table.transform-table-to-list-on-mobile tbody td .tooltip-text-container {
    margin-left: 0.25em;
  }

  table.transform-table-to-list-on-mobile tbody td.case-name {
    order: 1;
    font-size: 2em;
    font-weight: bold;
  }

  table.transform-table-to-list-on-mobile tbody td.case-author,
  table.transform-table-to-list-on-mobile tbody td.case-not-recommended-reason {
    order: 2;
    font-style: italic;
  }

  table.transform-table-to-list-on-mobile tbody td.case-image {
    order: 3;
  }

  table.transform-table-to-list-on-mobile tbody td.case-link,
  table.transform-table-to-list-on-mobile tbody td.case-usb,
  table.transform-table-to-list-on-mobile tbody td.case-pcb,
  table.transform-table-to-list-on-mobile tbody td.case-battery,
  table.transform-table-to-list-on-mobile tbody td.case-dock,
  table.transform-table-to-list-on-mobile tbody td.case-dongle,
  .case-strap-width {
    order: 4;
  }
}