img.caseImage {
    max-width:400px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
  * Body proportion classes for the table
  */
.bpTable td {
  vertical-align:top;
}

#bpImage {
  height:400px;
  max-width: none;
}

.bp {
  font-size: 20px;
  position:relative;
  cursor:pointer;
}

.bp::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position:absolute;
  top:12px;
  margin-left:10px;
  border-top: 5px solid #000;
  border-bottom:none;
}

.bp.open::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position:absolute;
  top:12px;
  margin-left:10px;
  border-bottom: 5px solid #000;
  border-top:none;
}

.bpdata {
  padding-left:10px;
  max-height:0px;
  overflow:hidden;
}

.bpdata.open {
  max-height:60px;
}

.bpTable td:nth-child(2) {
  width: 100%;
}

.bpTable summary {
  font-weight: bold;
  cursor: pointer;
}
