/* Tables */
table.table-sort th {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  white-space: nowrap;
}

/* Tooltip text */
.tooltip-text-container {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted #98a3ad;
  cursor: help;
}

/* Tooltip text */
.tooltip-text-container .tooltip-text {
  visibility: hidden;
  min-width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip-text-container:hover .tooltip-text {
  visibility: visible;
}

table>thead>tr>th {
  white-space: nowrap;
}

@media (max-width: 1920px) {

  table>thead>tr>th,
  table>tbody>tr>td {
    padding: 3px 10px;
  }
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {

  table>thead>tr>th,
  table>tbody>tr>td {
    padding: 3px 5px;
  }

  table.community-builds-table {
    display: block;
  }

  table.community-builds-table a {
    padding-left: 0.5em;
  }

  table.community-builds-table thead {
    background: none;
  }

  table.community-builds-table thead tr {
    display: flex;
    flex-wrap: wrap;
    gap: 0 0.5em;
    padding-bottom: 1rem;
    border: none;
  }

  table.community-builds-table thead th:before {
    content: 'Sort By: ';
    font-weight: bold;
    display: contents;
  }

  table.community-builds-table thead th.disable-sort {
    display: none;
  }

  table.community-builds-table thead th,
  table.community-builds-table tbody tr {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid var(--fg);
    border-radius: 8px;
    flex: 1;
  }

  table.community-builds-table tbody th {
    padding: 10px;
    flex: 1 1 auto;
    min-width: 80px;
    margin-bottom: 1rem;
  }

  table.community-builds-table tbody tr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px 0;
  }

  table.community-builds-table tbody td {
    display: flex;
    border: none;
  }

  table.community-builds-table tbody td:first-child {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1rem;
  }

  table.community-builds-table tbody td:not(.case-image):not(.case-name)::before {
    display: inline-block;
    content: attr(data-label) ':';
    font-weight: bold;
    margin-right: 0.5em;
  }

  /* Add spacing between ::before and .tooltip-text-container */
  table.community-builds-table tbody td .tooltip-text-container {
    margin-left: 0.25em;
  }

  table.community-builds-table tbody td.case-name {
    order: 1;
    font-size: 2em;
    font-weight: bold;
  }

  table.community-builds-table tbody td.case-author {
    order: 2;
    font-style: italic;
  }

  table.community-builds-table tbody td.case-image {
    order: 3;
  }

  table.community-builds-table tbody td.case-link,
  table.community-builds-table tbody td.case-usb,
  table.community-builds-table tbody td.case-pcb,
  table.community-builds-table tbody td.case-battery,
  table.community-builds-table tbody td.case-dock {
    order: 4;
  }
}