/* Tables */

table.table-sort th {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  white-space: nowrap;
}

/* Tooltip text */
.tooltip-text-container {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted #98a3ad;
  cursor: help;
}

/* Tooltip text */
.tooltip-text-container .tooltip-text {
  visibility: hidden;
  min-width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip-text-container:hover .tooltip-text {
  visibility: visible;
}

/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  table.community-builds-table {
    display: block;
  }

  table.community-builds-table a {
    padding-left: 0.5em;
  }

  table.community-builds-table thead {
    background: none;
  }

  table.community-builds-table thead tr {
    border: none;
  }

  table.community-builds-table thead th:before {
    content: 'Sort By: ';
    font-weight: bold;
    display: contents;
  }

  table.community-builds-table thead th,
  table.community-builds-table tbody tr {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid var(--fg);
    border-radius: 8px;
    padding: 10px 0;
  }

  table.community-builds-table tbody td {
    display: flex;
    border: none;
  }

  table.community-builds-table tbody td:first-child {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1rem;
  }

  table.community-builds-table tbody td:not(:first-child)::before {
    content: attr(data-label) ': ';
    font-weight: bold;
    display: contents;
  }
}