/* Tables */

table.table-sort th {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  white-space: nowrap;
}

/* Tooltip text */
.tooltip-text-container {
  position: relative;
  display: inline-block;
  border-bottom: 2px dotted #98a3ad;
  cursor: help;
}

/* Tooltip text */
.tooltip-text-container .tooltip-text {
  visibility: hidden;
  min-width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip-text-container:hover .tooltip-text {
  visibility: visible;
}

/* Tooltip image */
.tooltip-image-container {
  position: relative;
  display: inline-block;
  cursor: help;
}
.tooltip-image-container:has(a) {
  border-bottom: 2px dotted var(--links);
}

.tooltip-image-container .tooltip-image {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  display: inline-flex;
  max-width: 40vw;
  max-height: 40vh;
  width: fit-content;
  height: fit-content;
  top: 0;
  left: 0;
}

.tooltip-image-container img {
  max-height: 200px;
}

.tooltip-image-container:hover .tooltip-image {
  visibility: visible;
}

.tooltip-image img {
  width: auto;
  height: auto;
  max-width: 40vw;
  max-height: 40vh;
  min-width: 100px;
  min-height: 100px;
  object-fit: contain;
}
