
/* Responsive styling for smaller screens */
@media (max-width: 768px) {
  table {
    display: block;
  }

  thead {
    display: none;
  }

  tbody tr {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid var(--fg);
    border-radius: 8px;
    padding: 10px 0;
  }

  tbody td {
    display: flex;
    border: none;
  }

  tbody td:first-child {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1rem;
  }

  tbody td:not(:first-child)::before {
    content: attr(data-label);
    font-weight: bold;
    text-align: left;
    padding-right: 1rem;
  }

  tbody td:last-child {
    padding: 2rem 10px 1rem 10px;
  }
}
