name: Publish

on:
  push:
    branches:
      - live
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: pages
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  publish:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Install static-sitemap-cli
        run: npm install static-sitemap-cli

      - name: Install mdbook
        uses: taiki-e/install-action@v2
        with:
          tool: mdbook@0.4.37,mdbook-toc@0.14.2,mdbook-i18n-helpers@0.3.2,mdbook-admonish@1.15.0

      - name: Build course in English
        run: mdbook build -d book

      - name: Generate sitemap
        run: |
          cd book
          npx sscli --no-clean  --base https://docs.shinebright.dev

      - name: Build all translations
        # Easier to edit a bash array from here.
        run: |
          LANGUAGES=("es-419")
          for po_lang in ${LANGUAGES[@]}; do
              MDBOOK_BOOK__LANGUAGE=$po_lang \
              MDBOOK_PREPROCESSOR__GETTEXT__PO_FILE=po/$po_lang/messages.po \
              MDBOOK_OUTPUT__HTML__SITE_URL=/$po_lang/ \
              mdbook build -d book/$po_lang
          done

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./book

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
